.navbar{
  background-color:black;
  display:flex;
  justify-content:space-around;
}
.navbar a{
  padding:1%;
  color:white;
  text-decoration:none;
}
.navbar a:hover{
  background-color:grey;
  color:black;
}
.product-item{
  margin-top:10px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
}
.product-item img{
  width:50%;
}
.para{
  margin-left:10px;
}
.inputfield{
  margin-left:10px;
}